<!DOCTYPE html>
<html>
	<head>
		<title>Organize Me</title>
		
		<link rel="stylesheet"
			href="../../../../resources/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.min.css"
			th:href="@{/resources/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.min.css}" />
		
		<script
			src="../../../../resources/libs/jqueryui/1.11.0/jquery-ui.min.js"
			th:src="@{/resources/libs/jqueryui/1.11.0/jquery-ui.min.js}"></script>
			
		<script type="text/javascript" th:inline="javascript">
			//<![CDATA[
			function split(val) {
				return val.split(/,\s*/);
			}
			
			function extractLast(term) {
				return split(term).pop();
			}
			
			$(function () {
				$.getJSON(/*[[@{/tags}]]*/ "/organizeme/tags", function (data) {
					console.log(data);
					
					var tags = [];
					$.each(data, function (key, val) {
						tags.push(val.name);
					});
					console.log(tags);
					
					$("#tags")
						.bind("keydown", function (event) {
							if (event.keyCode === $.ui.keyCode.TAB &&
									$(this).autocomplete("instance").menu.active) {
								event.preventDefault();
							}
						})
						.autocomplete({
							minLength: 0,
							source: function (request, response) {
								response($.ui.autocomplete.filter(
										tags, extractLast(request.term)));
							},
							focus: function () {
								return false;
							},
							select: function (event, ui) {
								var terms = split(this.value);
								terms.pop();
								terms.push(ui.item.value);
								terms.push("");
								this.value = terms.join(", ");
								return false;
							}
						});
				});
			});
			//]]>
		</script>
	</head>
	
	<body>
		<form class="form-horizontal" action="#" th:action="@{/content/add}" th:object="${content}" method="post">
			<fieldset>
				<legend th:text="#{add}">Add</legend>
				<div class="form-group">
					<label for="categoryId" class="col-lg-2 control-label" th:text="#{content.category}">Category</label>
					<div class="col-lg-10">
						<select id="categoryId" class="form-control" th:field="*{category}">
							<option th:each="category : ${categories}"
								th:value="${category.id}" th:text="${category.name}">
								Computer
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="col-lg-2 control-label" th:text="#{content.type}">Type</label>
					<div class="col-lg-10">
						<select id="type" class="form-control" th:field="*{type}">
							<option th:each="contentType : ${contentTypes}"
								th:value="${contentType}" th:text="${contentType}">TEXT</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="language" class="col-lg-2 control-label" th:text="#{content.language}">Language</label>
					<div class="col-lg-10">
						<select id="language" class="form-control" th:field="*{language}">
							<option th:each="language : ${languages}"
								th:value="${language}" th:text="${language}">KOREAN</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-lg-2 control-label" th:text="#{content.title}">Title</label>
					<div class="col-lg-10">
						<input id="title" type="text" class="form-control" th:field="*{title}" />
						<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
					</div>
				</div>
				<div class="form-group">
					<label for="locationType" class="col-lg-2 control-label" th:text="#{content.locationType}">Location Type</label>
					<div class="col-lg-10">
						<select id="locationType" class="form-control" th:field="*{locationType}">
							<option th:each="locationType : ${locationTypes}"
								th:value="${locationType}" th:text="${locationType}">LINK</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="location" class="col-lg-2 control-label" th:text="#{content.location}">Location</label>
					<div class="col-lg-10">
						<input id="location" type="text" class="form-control" th:field="*{location}" />
						<p th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</p>
					</div>
				</div>
				<div class="form-group">
					<label for="progress" class="col-lg-2 control-label" th:text="#{content.progress}">Progress</label>
					<div class="col-lg-10">
						<select id="progress" class="form-control" th:field="*{progress}">
							<option th:each="progress : ${progresses}"
								th:value="${progress}" th:text="${progress}">DONE</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="tags" class="col-lg-2 control-label" th:text="#{content.tags}">Tags</label>
					<div class="col-lg-10">
						<input id="tags" type="text" class="form-control" th:field="*{tags}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="Add" th:value="#{add}" class="btn btn-default" />
					</div>
				</div>
			</fieldset>
		</form>
	</body>
</html>
